h1 {
   background-color:white;
   color:black;
   font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   font-size:48px;
text-align:center;
   margin:0 auto;
   padding:40px 40px 40px 40px;
line-height:2;
}

body{
    

}

main{
min-height:1200px;

}
.main-nav{
    background-color:rgb(148, 0, 211);
    color:white;
  margin-top:-10px;
   max-height:5%;; 

   padding:15px 15px 14px 15px;
}

.main-nav a{
    color:white;
}

.about-text{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:14px;
   text-align:center;
}

.main-button{
    color:white;
    
    background-color:darkslategrey;
    border-color:blueviolet 1px dotted;
    border-radius:30px;
    display:block;
    margin:0 auto;
    padding:20px 20px 20px 20px;
    
}

.main-button a{
    color:white;
    text-decoration:none;
    
   
}




footer{
        background-color: rgb(216, 191, 216);
        margin: 0 auto;
        min-height: 200px;
}